/* Custom CSS for the sticky navbar */
.sticky-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 50px; /* Adjust this value as needed */
    z-index: 100;
    background-color: #fff; /* Adjust background color as needed */
  }
  