/* @font-face {
    font-family: 'My Custom Font';
    src: url('https://fonts.googleapis.com/css?family=Tangerine');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    background-color: green;
  } */


  body{
    background-color: blue;
  }